html, body, form {
	width:100%;
	height:100%;
	overflow:hidden;
}
body {
	width: 100%;
	overflow: hidden;
	min-width: 960px;
	height:100%;
}
iframe {
	width: 100%;
	border: none;
	overflow:auto;
	height:100%;
}
#header div.logo {
	position: absolute;
	left: 114px;
	top: 7px;
}
.logo div {
	width: 132px;
	height: 39px;
	background: url(../images/logo.gif) no-repeat;
}
#header {
	background: url(../images/header_bg1.jpg) left top repeat-x;
	position: relative;
	height: 52px;
	min-width: 960px;
	width: 100%;
}
#header p.info {
	position: absolute;
	left: 275px;
	top: 26px;
	font: normal 16px/16px 微软雅黑;
	color: #fff;
}
#header dl {
	width: 340px;
	position: absolute;
	right: 0;
	top: 20px;
	text-align: right;
	overflow: hidden;
}
#header dl dt {
	font-size: 12px;
	color: #fff;
	float: left;
	margin-right: 5px;
}
#header dl dd {
	float: left;
	margin-right: 3px;
	font-size: 12px;
}
#header dl dd a {
	color: #fff;
}
#header dl dd a:hover, #header dl dd.On a {
	color: #F1D627;
	text-decoration: none;
}
#container {
	font-size: 12px;
	color: #333;
	line-height: 1.8;
	width: 100%;
	position: relative;
	height:100%;
}
#container:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.side {
	background: #fff;
	width: 200px;
	float: left;
	height: 100%;
}
.side dl {
	overflow: hidden;
	padding: 12px 0 10px 10px;
	background: #F5F5F5;
}
.side dl dd span a {
	color: #F00;
}
.side dl dd b {
	color: #f00;
}
.side .same {
	padding-bottom: 1px;
}
.side h3 {
	width: 200px;
	height: 43px;
	line-height: 43px;
}
.side h3 a {
	background: url(../images/menu_off.jpg) left center no-repeat;
	display: block;
	font-weight: bold;
	color: #015FA7;
	padding-left: 30px;
}
.side h3 a:hover {
	background: url(../images/menu_on.jpg) left center no-repeat;
	color: #333;
}
.side ul {
	width: 180px;
	margin: 0 auto;
	padding: 2px 0px;
}
.side ul li {
	width: 180px;
	height: 24px;
	line-height: 24px;
	text-align: left;
	list-style: none;
	margin: 0 auto;
}
.side ul li a {
	display: block;
	color: #015FA7;
	padding-left:30px;
}
.side ul li a:hover, .side ul li.On a {
	background: #eaeaea;
}
.middle {
	width: 12px;
	float: left;
	background: #ddd;
	height: 100%;
	vertical-align: middle;
}
.middle .floater {
	height:50%;
	margin-bottom:-32px;
}
.middle .middleOff {
	cursor:pointer;
	clear:both;
	background: url(../images/side04_off.gif) no-repeat;
	width: 12px;
	height: 64px;
	position: relative;
}
.middle .middleOn {
	cursor:pointer;
	clear:both;
	background: url(../images/side04_on.gif) no-repeat;
	width: 12px;
	height: 64px;
	position: relative;
}
.content {
	margin-left: 213px;
	height: 100%;
}
.TopNav {
	background: #ccc;
	width: 100%;
}
.TopNav .Btn {
	overflow: hidden;
	padding: 2px 0 2px 15px;
}
.TopNav .Btn li {
	float: left;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	margin-right: 20px;
	list-style: none;
}
.TopNav .Btn li a {
	color: #015B9F;
	display: block;
}
.TopNav .Btn li a:hover, .TopNav .Btn li.On a {
	color: #fff;
	background: url(../images/navImg01.png) left top no-repeat;
}
.BreadCrumb {
	font-weight: bold;
	color: #015FA7;
	padding: 2px 0 2px 20px;
}
.BreadCrumb a {
	color: #015FA7;
	margin: 0 7px;
}
