<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="600"/>
    </system.web>
  <appSettings>
    <!--ABCDE等级最低分-->
    <add key="LevelRangeScore" value="1$90|2$80|3$70|4$60|5$0"/>
  </appSettings>
  <connectionStrings>
    <add name="Conn_PerformanceEvaluation" connectionString="server=.;User ID=sa;Password=sa;database=PerformanceEvaluationDB" />
  </connectionStrings>
</configuration>
